asgiref
backports.zoneinfo
certifi
charset-normalizer
cycler
Django
django-appconf
django-cors-headers
django-debug-toolbar
django-filter
django-imagekit
djangorestframework
fonttools
idna
importlib-metadata
kiwisolver
Markdown
matplotlib
numpy
opencv-contrib-python
opencv-python
packaging
pilkit
Pillow
psycopg2-binary
py
pyparsing
python-dateutil
pytz
requests
scipy
six
sqlparse
urllib3
zipp
gunicorn