<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Django Lesson</a>
        <form class="d-flex md-7">
            <div class="d-flex justify-content-end">
            {% if user.is_authenticated != False %}
                <button type="button" class="btn btn-sm btn-success">User</button>
                <button type="button" class="btn btn-sm btn-outline-success">
                    {{ user.get_username }}
                </button>　
            {% else %}
                <a role="button" class="btn btn-sm btn-success" href="{% url 'account_login' %}">Login</a>　
            {% endif %}
                <input class="form-control mr-3" type="search" placeholder="検索ワードの入力" aria-label="検索"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div>　</div>
        <div class="col-lg-2 order-1">
            <div class="list-group">
                <ul class="list-group nav" id="menu-all_base" role="tablist">
                    <li class="list-group-item list-group-item-primary">基本</li>
                </ul>
                {% block todo_menu %}
                    <a href="{% url 'todo:todo_index' %}" class="list-group-item list-group-item-action">
                        <img src="{% static 'bootstrap-icons/icons/layout-text-window-reverse.svg' %}" alt="" width="24"
                             height="24"/>
                        　Todo CRUD
                    </a>
                {% endblock %}

                {% block sns_menu %}
                    <a href="#" class="list-group-item list-group-item-action">
                        <img src="{% static 'bootstrap-icons/icons/shop.svg' %}" alt="" width="24" height="24"/>
                        　Batch</a>
                {% endblock %}

                <a href="{% url 'plot:plot_index' %}" class="list-group-item list-group-item-action">
                    <img src="{% static 'bootstrap-icons/icons/diagram-3.svg' %}" alt="" width="24" height="24"/>
                    　画像処理</a>
                <a href="{% url 'plot:plot_index' %}" class="list-group-item list-group-item-secondary">
                    <img src="{% static 'bootstrap-icons/icons/person-plus.svg' %}" alt="" width="24" height="24"/>
                    　Rest-API</a>
                <a href="#" class="list-group-item list-group-item-secondary">
                    <img src="{% static 'bootstrap-icons/icons/envelope.svg' %}" alt="" width="24" height="24"/>
                    　Lambda</a>
                <a role="button" class="btn  btn-sm btn-outline-primary" href="/auth/login/">ログイン</a>
                <a role="button" class="btn  btn-sm btn-outline-secondary" href="/auth/logout/">ログアウト</a>
            </div>
            <hr>
            <div>
                <ul class="list-group nav" id="menu-all" role="tablist">
                    <li class="list-group-item list-group-item-primary">発展</li>
                    <li class="list-group-item list-group-item-secondary">可視化</li>
                    <li class="list-group-item list-group-item-secondary">回帰</li>
                    <li class="list-group-item list-group-item-secondary">分類</li>
                    <li class="list-group-item list-group-item-secondary">解析</li>
                    <li class="list-group-item list-group-item-secondary">NN</li>
                    <li class="list-group-item list-group-item-secondary">GA</li>
                </ul>
            </div>
        </div>
        {% block content %}
            <div class="col-lg-7 border order-2">
                センター・コンテンツ
            </div>
        {% endblock %}
        <div class="col-lg-3 order-3">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">情報①</li>
                    <li class="list-group-item">情報②</li>
                    <li class="list-group-item">
                        <div class="card">
                            <div class="card-header">
                                カード・ヘッダー
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">タイトル</h5>
                                <p class="card-text">説明文</p>
                                <a href="#" class="btn btn-primary">リンク先ボタン</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div>　
</div>
<div class="border g-2">
    <div class="border">
        <div class="row justify-content-md-center">
            &copy2020 Happy IT Semi
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>
