{% extends './base.html' %}
{% load static %}
{% block title %}Batch説明{% endblock %}
{% block content %}
    <div class="col-lg-10 border order-2">
    <br/>

    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>No.</th>
            <th>バッチ・コマンド名</th>
            <th>説明</th>
            <th>内容</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
        </tbody>
    </table>
    <br/>

    <div class="row g-2">
        <div class="col col-lg-6 border order-3">
            aaaa
        </div>

        <div class="col col-lg-6 border order-4">
            bbb
        </div>
    </div>

    </div>
{% endblock %}
